[flake8]
select = C,E,F,W
max-complexity = 10
max-line-length = 120
extend-ignore = W503
disable-noqa = True
application-import-names = nbmetaclean, tests
import-order-style = google
per-file-ignores =
    # imported but unused
    __init__.py: F401
